@model HastaneWeb.Models.Randevu

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Hasta Ad:
        </dt>
        <dd class="col-sm-10">
            @Model.Hasta.HastaAd
        </dd>
        <dt class="col-sm-2">
            Hasta Soyad:
        </dt>
        <dd class="col-sm-10">
            @Model.Hasta.HastaSoyad
        </dd>
        <dt class="col-sm-2">
            Doktor Ad:
        </dt>
        <dd class="col-sm-10">
             @Model.Doktor.DoktorAd
        </dd>
        <dt class="col-sm-2">
            Doktor Soyad:
        </dt>
        <dd class="col-sm-10">
            @Model.Doktor.DoktorSoyad
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuTarih)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RandevuTarih)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RandevuID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>


