@model HastaneWeb.Models.Randevu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Hasta Ad:
        </dt>
        <dd class="col-sm-10">
            @Model.Hasta.HastaAd
        </dd>
        <dt class="col-sm-2">
            Hasta Soyad:
        </dt>
        <dd class="col-sm-10">
            @Model.Hasta.HastaSoyad
        </dd>
        <dt class="col-sm-2">
            Doktor Ad:
        </dt>
        <dd class="col-sm-10">
            @Model.Doktor.DoktorAd
        </dd>
        <dt class="col-sm-2">
            Doktor Soyad:
        </dt>
        <dd class="col-sm-10">
            @Model.Doktor.DoktorSoyad
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuTarih)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RandevuTarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RandevuID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
